[Settings]
Port             = 2055

[Summary]
Intervals = 20, 60, 480, 1440
TopCount  = 100

[Logs]
KeepDays         = 30
MaxFileSizeMB    = 10
Dir              = ./logs
EnableSummaryLog = 1
EnableNetFlowLog = 1
